[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
python-dotenv = "*"
pytest-django = "*"
pytest-cov = "*"
factory-boy = "*"
pytest-factoryboy = "*"
django-htmx = "*"
django-taggit = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
